* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 0.5s all;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url(images/black2.svg);
}
body::-webkit-scrollbar {
  display: none;
}
.logo-l:hover {
  transform: scale(1.1);
}
.nav {
  width: 100vw;
  height: 62px;
  display: grid;
  grid-template-columns: 13fr 50fr 30fr;
  background: black;
  position: fixed;
  z-index: +5;
}
.logo {
  margin-left: 20px;
  margin-top: 20px;
}
.logo-l {
  width: 120px;
  height: 40px;
  margin-left: 50px;
  transition: 0.3s all;
}

.items a,
.bar a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  transition: 0.3s all;
}
a:hover,
.items::before {
  color: tomato;
  font-size: 1.08em;
}
.items {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  padding-top: 30px;
}
.home {
  margin-left: 10px;
}

.bar {
  display: none;
  padding-top: 30px;
  padding-left: 290px;
}
button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

.menu {
  width: 100vw;
  height: 200px;
  position: absolute;
  text-align: center;
  right: 0.1px;
  background: linear-gradient(90deg, rgb(85, 29, 3), rgb(0, 0, 0));
  display: none;
  overflow: hidden;
}
.menu a {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  display: block;
  padding-top: 20px;
  text-decoration: 3.5px underline;
}
.menu a:hover {
  color: rgb(192, 0, 0);
  transform: scale(1.09);
}
.manim {
  animation-name: menu;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.mout {
  animation-name: mout;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-direction: reverse;
}
@keyframes menu {
  0% {
    height: 20px;
  }
  75% {
    height: 120px;
  }
  100% {
    height: 150px;
  }
}
@keyframes mout {
  0% {
    height: 20px;
  }
  75% {
    height: 120px;
  }
  100% {
    height: 150px;
  }
}

@media screen and (max-width: 946px) {
  .bar {
    display: block;
    padding-right: 20px;
  }
  .items {
    grid-template-columns: 100px;
  }
  .items a {
    display: none;
  }
}
.conatiner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 180px;
}
.watch {
  width: 100%;
  margin-left: 20px;
}

.main {
  display: grid;

  /* flex-direction: row; */
  column-gap: 90px;
  row-gap: 60px;
  grid-template-columns: repeat(4, 220px);
  /* grid-template-rows: repeat(5, 300px); */
  background: transparent;
  /* margin-left: 4vw;
margin-right: 6vw; */
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background: rgb(43, 42, 41);
  position: relative;
  margin-top: 200px;
}
@media screen and (max-width: 1030px) {
  .main {
    grid-template-columns: repeat(3, 220px);
  }
}
@media screen and (max-width: 810px) {
  .main {
    grid-template-columns: repeat(2, 220px);
    column-gap: 110px;
  }
}

@media screen and (max-width: 560px) {
  body {
    background: linear-gradient(90deg, rgba(0, 0, 0) 30%, rgb(141, 3, 3));
    background-repeat: round;
  }
  .main {
    grid-template-columns: repeat(1, 220px);
  }
  .logo-l {
    margin-left: 10px;
  }
  .bar {
    display: block;
    padding-left: 30px;
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.image {
  width: 1080px;
}

.card {
  height: 300px;
  width: 100%;

  background: transparent;
}
.card img:hover {
  transform: scale(1.1);
}
/* Title of movie */
.name {
  font-size: 2em;
  color: white;
}
.title {
  width: 100vw;
  height: 100px;
  position: relative;
  top: 100px;
  left: 80px;
  color: white;
}
h5 {
  padding-top: 10px;
}
.video {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-top: 20px;
  position: relative;
  top: 60px;
}

@media screen and (max-width: 560px) {
  .video {
    top: 90px;
  }
  video {
    height: 200px;
    width: 100vw;
    margin-right: 10px;
  }
}
